.catalog
    &__row
        display: flex
        flex-wrap: wrap
        margin: * -6px -24px @md * -12px -48px @xl * -16px -64px

    .product
        width: 50% @md 33.3% @lg 25% @xl 20%

        &__img--wrap
            flex: 0
            min-height: 200px @md 272px @xl 320px

        &__info
            display: flex
            flex-direction: column
            flex: 1

        &__btn
            width: 100%

        &__price
            .price__current
                text: 18px