footer.footer
    .container.footer__container
        .footer__main
            .footer__col
                a.footer__logo(href="#")
                    img(src="img/icons/logo.svg" width="170" height="45" alt="Elari")

                a.footer__phone(href="tel:+74990000000") +7 499 000 00 00

            .footer__menu
                .footer__nav
                    ul
                        li
                            a(href="#") Детские часы

                        li
                            a(href="#") Детские телефоны

                        li
                            a(href="#") Фитнес-часы

                        li
                            a(href="#") Аксессуары

                        li
                            a(href="#") Акции

                .footer__nav.footer__nav--another
                    ul
                        li
                            a(href="#") Контакты

                        li
                            a(href="#") Поддержка

                        li
                            a(href="#") Доставка и оплата

                    .footer__panel
                        a.footer__phone(href="tel:+74990000000") +7 499 000 00 00

                        .social.footer__social
                            a.social__link.social__link--tg(href="#tg" target="_blank" title="Go to Telegram")
                            a.social__link.social__link--vk(href="#vk" target="_blank" title="Go to VK")    

        .footer__copy
            p Copyright © 2025 ELARI. Все права защищены.

            a(href="#") Политика конфиденциальности

            a(href="#") Публичный договор оферты

