.modal#modal-preorder
    .modal__square
        .modal__head
            .modal__caption Предзаказ на товар
            button.btn.btn--reset.btn--cross.modal__close(data-close-modal)

        .modal__actions
            button.btn.btn--border-gray(data-close-modal aria-label="Close modal") Отмена
            button.btn.btn--accent(aria-label="Delete address") Удалить
