.modal#modal-preorder
    .modal__square
        .modal__head
            .modal__title Предзаказ на товар
            button.btn.btn--reset.btn--cross.modal__close(data-close-modal)

        .modal__body
            form.form.modal__form(action="/" method="POST")
                .input
                    input.input__elem(type="text" name="email" placeholder="Укажите ваш email")

                .form__footer
                    button.btn.btn--border-accent.form__send(aria-label="Add pre-order") Оформить предзаказ
