- 
    nav = [
        {
            name: 'Детские часы'
        },
        {
            name: 'Детские телефоны'
        },
        {
            name: 'Фитнес-часы'
        },
        {
            name: 'Аксессуары'
        },
        {
            name: 'Акции'
        },
        {
            name: 'Поддержка'
        },
        {
            name: 'Доставка'
        },
        {
            name: 'Контакты'
        }
    ]

    apps = [
        {
            name: 'ELARI Wear',
            text: 'Технологии для комфорта и безопасности.'
        },
        {
            name: 'ELARI Life',
            text: 'Здоровье и велнесс для всей семьи.'
        },
        {
            name: 'KidGram',
            text: 'Первый безопасный мессенджер для ваших детей.'
        },
        {
            name: 'SafeFamily',
            text: 'Первый безопасный мессенджер для ваших детей.'
        }
    ]

    faq = [
        {
            name: 'Часто задаваемые вопросы'
        },
        {
            name: 'Инструкции по&nbsp;использованию'
        },
        {
            name: 'Написать в&nbsp;техподдержку'
        },
        {
            name: 'Сервисные центры'
        },
        {
            name: 'Начало работы'
        }
    ]