- 
    nav = [
        {
            name: 'Детские часы',
            link: 'catalog.html'
        },
        {
            name: 'Детские телефоны',
            link: 'catalog.html'
        },
        {
            name: 'Фитнес-часы',
            link: 'catalog.html'
        },
        {
            name: 'Аксессуары',
            link: 'catalog.html'
        },
        {
            name: 'Акции',
            link: 'catalog.html'
        },
        {
            name: 'Поддержка',
            link: 'support.html'
        },
        {
            name: 'Доставка',
            link: 'delivery.html'
        },
        {
            name: 'Контакты',
            link: 'contacts.html'
        }
    ]

    apps = [
        {
            name: 'ELARI Wear',
            text: 'Технологии для комфорта и безопасности.'
        },
        {
            name: 'ELARI Life',
            text: 'Здоровье и велнесс для всей семьи.'
        },
        {
            name: 'KidGram',
            text: 'Первый безопасный мессенджер для ваших детей.'
        },
        {
            name: 'SafeFamily',
            text: 'Первый безопасный мессенджер для ваших детей.'
        }
    ]

    faq = [
        {
            name: 'Часто задаваемые вопросы'
        },
        {
            name: 'Инструкции по&nbsp;использованию'
        },
        {
            name: 'Написать в&nbsp;техподдержку'
        },
        {
            name: 'Сервисные центры'
        },
        {
            name: 'Начало работы'
        }
    ]