.btns-spacer
	display: flex
	flex-wrap: wrap
	margin-bottom: -12px

	> *
		margin-right: 12px
		margin-bottom: 12px

.form
	&__group
		display: flex
		flex-wrap: wrap
		gap: 0 12px

		> *
			flex: 1 1 200px

	&__agree
		color: rgba(27, 36, 46, 0.6)
		text: 400 13px 1.5
		margin: 12px 0 0

		a:not([class])
			color: rgba(27, 36, 46, 0.6)
			text-decoration: underline
			text-underline-offset: 4px

			&:hover
				color: rgba(27, 36, 46, 1)

	&__send
		width: 100%

.input
	margin-bottom: 12px
	display: block
	position: relative

	&__label
		color: #6C6C6C
		text: 400 16px 1.4
		letter-spacing: 0.8px
		display: inline-block
		margin: 0 0 6px

	&__elem
		position: relative
		color: #1d1d1f
		text: 400 16px 1.4
		background: #fff
		border: 1px solid rgba(29, 29, 31, .7)
		border-radius: 60px
		min-height: 40px
		padding: 0 16px
		width: 100%
		outline: none
		transition: .2s
		resize: none

		&:focus
			border-color: #7373f5
			
			&::placeholder
				color: transparent

		&::placeholder
			color: rgba(29, 29, 31, .7)

