$sm-px: 580px
$md-px: 768px
$lg-px: 1024px
$xl-px: 1200px

$container-xl-px: 1416px

$sm: (min-width: $sm-px)
$md: (min-width: $md-px)
$lg: (min-width: $lg-px)
$xl: (min-width: $xl-px)

$sm-down: (max-width: 579px)
$md-down: (max-width: 767px)
$lg-down: (max-width: 1023px)
$xl-down: (max-width: 1199px)

$font: 'Exo 2', sans-serif
$font-btn: 'Roboto', sans-serif
$font-inter: 'Inter', sans-serif

$transition: .15s ease