.breadcrumbs
    .container.breadcrumbs__container
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href="./") Главная

            li.breadcrumbs__item
                span.breadcrumbs__link Детские часы