.home-catalog
    .home-catalog__row
        .category
            a.category__body(href="#category")
                .category__img--wrap
                    img.category__img(src="img/content/home-catalog/category_0.png" width="640" height="444" alt="Name category")

                .category__content
                    .category__info
                        .category__title Серия смарт-часов

                    .btn.btn--reset.category__btn

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_0.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title Chrono pro
                    .product__price.price
                        .price__current 5000 р

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_1.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title Watch Lite
                    .product__price.price
                        .price__current 5000 р

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_2.png" width="213" height="213" alt="Name product")

                    ul.product__colors-list
                        li.product__colors-item(style="background:#99b6ee;")
                        li.product__colors-item(style="background:#ffcbdb;")
                        li.product__colors-item(style="background:#717171;")

                .product__info
                    .product__title KidGram Watch
                    .product__price.price
                        .price__current 5000 р

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_3.png" width="213" height="213" alt="Name product")

                    ul.product__colors-list
                        li.product__colors-item(style="background:#99b6ee;")
                        li.product__colors-item(style="background:#717171;")

                .product__info
                    .product__title 4G Techo
                    .product__price.price
                        .price__current 5000 р

        .category
            a.category__body(href="#category")
                .category__img--wrap
                    img.category__img(src="img/content/home-catalog/category_1.png" width="640" height="444" alt="Name category")

                .category__content
                    .category__info
                        .category__title Коллекция детских устройств

                    .btn.btn--reset.category__btn

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_4.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title KidGram Watch
                    .product__price.price
                        .price__current 5000 р

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_5.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title 4G Techo
                    .product__price.price
                        .price__current 5000 р

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_6.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title 4G Techo
                    .product__price.price
                        .price__current 5000 р

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_7.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title 4G Techo
                    .product__price.price
                        .price__current 5000 р

        .category
            a.category__body(href="#category")
                .category__img--wrap
                    img.category__img(src="img/content/home-catalog/category_2.png" width="640" height="444" alt="Name category")

                .category__content
                    .category__info
                        .category__title Умные гаджеты для жизни

                    .btn.btn--reset.category__btn

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_8.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title Chrono pro
                    .product__price.price
                        .price__current 5000 р

        .product
            .product__body
                a.product__link(href="#product" title="Go to product")

                .product__img--wrap
                    img.product__img(src="img/content/home-catalog/product_9.png" width="213" height="213" alt="Name product")

                .product__info
                    .product__title Watch Lite
                    .product__price.price
                        .price__current 5000 р  