.home-watch
    .home-watch__caption Смарт-часы для
    .home-watch__title Жизни <span>и спорта.</span>

    .home-watch__slider
        .swiper-wrapper
            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_0.png" width="310" height="310" alt="Name watch")

            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_1.png" width="310" height="310" alt="Name watch")

            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_2.png" width="310" height="310" alt="Name watch")

            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_3.png" width="310" height="310" alt="Name watch")

            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_4.png" width="310" height="310" alt="Name watch")

            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_5.png" width="310" height="310" alt="Name watch")

            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_3.png" width="310" height="310" alt="Name watch")

            .home-watch__card.swiper-slide
                .home-watch__img--wrap
                    img.home-watch__img(src="img/content/home-watch/item_1.png" width="310" height="310" alt="Name watch")

    .slider-nav.home-watch__slider-nav
        button.btn.btn--reset.slider-arrow.slider-arrow-prev(aria-label="Prev slide")
        button.btn.btn--reset.slider-arrow.slider-arrow-next(aria-label="Next slide")

            