.home-diagram
    picture
        source(srcset="img/content/home-diagram/desktop.png" media="(min-width: 1280px)")
        source(srcset="img/content/home-diagram/tablet.png" media="(min-width: 768px)")
        img(src="img/content/home-diagram/mobile.png" width="343" height="748" alt="Diagram products")