.home-watch
    .home-watch__caption Смарт-часы для
    .home-watch__title Жизни <span>и спорта.</span>

    .home-watch__img--wrap
        picture
            source(srcset="img/content/home-watch/desktop.png" media="(min-width: 580px)")
            img(src="img/content/home-watch/mobile.png" width="343" height="748" alt="Watch image")

    .home-watch__nav
        a.btn.btn--reset.home-watch__btn(href="#" title="Go to Watch page")

            