.home-categories
    .home-categories__row
        .hero-category
            .hero-category__body(style="background: linear-gradient(360deg, #f7f7fa 0%, #a4c7ff 100%);")
                .hero-category__name Детские часы
                .hero-category__desc Гаджеты, делающие детство умнее и&nbsp;безопаснее.

                .hero-category__nav
                    a.btn.btn--border-accent.hero-category__btn(href="#") Подробнее

                .hero-category__img--wrap
                    img.hero-category__img(src="img/content/home-categories/img_0.png" width="528" height="328" alt="Name cateogory")

                .hero-category__label 
                    | Новая модель

                    span.hero-category__label-sticker
                        img(src="img/content/home-categories/sticker.svg" width="18" height="18" alt="KidGram Watch")
                        | KidGram Watch

        .hero-category
            .hero-category__body(style="background: linear-gradient(0deg, #f7f7fa 0%, #f2edff 100%);")
                .hero-category__name Детские гаджеты
                .hero-category__desc Безопасность и&nbsp;забота для&nbsp;вашего малыша.

                .hero-category__nav
                    a.btn.btn--border-accent.hero-category__btn(href="#") Подробнее

                .hero-category__img--wrap
                    img.hero-category__img(src="img/content/home-categories/img_1.png" width="528" height="328" alt="Name cateogory")

        .hero-category.-wide-
            .hero-category__body(style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, #e5e2f4 100%);")
                .hero-category__name Cмарт-часы
                .hero-category__desc Технологии и&nbsp;стиль на&nbsp;вашем запястье.

                .hero-category__nav
                    a.btn.btn--border-accent.hero-category__btn(href="#") Подробнее

                .hero-category__bg--wrap
                    img.hero-category__bg(src="img/content/home-categories/bg_0.png" width="528" height="328" alt="Name cateogory")

        .hero-category.-wide-.-strange-
            .hero-category__body(style="background: linear-gradient(180deg, rgba(152, 223, 245, 0.2) 0%, rgba(152, 223, 245, 0.2) 100%);")
                .hero-category__name Веллнес девайсы
                .hero-category__desc Наши умные устройства позаботятся о&nbsp;вашем здоровье.

                .hero-category__nav
                    a.btn.btn--border-accent.hero-category__btn(href="#") Подробнее

                .hero-category__img--wrap
                    img.hero-category__img(src="img/content/home-categories/img_2.png" width="528" height="328" alt="Name cateogory")
