.home-benefits
    .home-benefits__slider
        .swiper-wrapper
            .home-benefits__card.home-benefits__card--reverse.swiper-slide
                .home-benefits__body(style="background: #F9F9F9")
                    .home-benefits__info
                        .home-benefits__title Техническая поддержка
                        .home-benefits__text Мы всегда на связи, чтобы&nbsp;помочь с настройкой и&nbsp;использованием устройств

                    .home-benefits__img--wrap
                        img.home-benefits__img(src="img/content/home-benefits/item_0.png" width="273" height="562" alt="Name card")

            .home-benefits__card.swiper-slide
                .home-benefits__body(style="background: #f5f5ff")
                    .home-benefits__info
                        .home-benefits__title Инновации
                        .home-benefits__text Мы сами разрабатываем и&nbsp;выпускаем обновления, чтобы&nbsp;обеспечить высочайшее качество

                    .home-benefits__img--wrap
                        img.home-benefits__img(src="img/content/home-benefits/item_1.png" width="307" height="422" alt="Name card")

            .home-benefits__card.swiper-slide
                .home-benefits__body(style="background: #ecf4ff")
                    .home-benefits__info
                        .home-benefits__title Безопасность
                        .home-benefits__text 
                            | Ваши данные в безопасности, а устройства под полным контролем.
                            <br />
                            <br />
                            | Приватные протоколы связи с&nbsp;серверами, без&nbsp;возможности изменить настройки и&nbsp;доступы по&nbsp;SMS для&nbsp;большей безопасности.

                        .home-benefits__headline 
                            | Полная 
                            span.text-blur приватность.

            .home-benefits__card.swiper-slide
                .home-benefits__body(style="background: #f3f3f3")
                    .home-benefits__info
                        .home-benefits__title Удобство
                        .home-benefits__text Все устройства и&nbsp;приложения легко настраиваются

                    .home-benefits__img--wrap
                        img.home-benefits__img(src="img/content/home-benefits/item_2.png" width="307" height="422" alt="Name card")

    .slider-nav.home-benefits__slider-nav
        button.btn.btn--reset.slider-arrow.slider-arrow-prev(aria-label="Prev slide")
        button.btn.btn--reset.slider-arrow.slider-arrow-next(aria-label="Next slide")

        .slider-pagination